In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv(r"logs_dataset.csv")

In [3]:
df.shape

(721547, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721547 entries, 0 to 721546
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   @timestamp  721547 non-null  object
 1   _id         721547 non-null  object
 2   ip_address  721547 non-null  object
dtypes: object(3)
memory usage: 16.5+ MB

In [5]:
df.head()

                    @timestamp                   _id  ip_address
0  July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1  July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2  July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3  July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4  July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [12]:
# unique IP Addresses in the log data 

print("Number of unique ip addresses : " , df['ip_address'].nunique())

Number of unique ip addresses :  386

In [14]:
df['@timestamp'] = (
    df['@timestamp']
    .str.replace(r'(\d+)(st|nd|rd|th)', r'\1', regex=True)
)
df['@timestamp'] = pd.to_datetime(
    df['@timestamp'],
    format='%B %d %Y, %H:%M:%S.%f'
)

In [15]:
df.sort_values(['ip_address', '@timestamp'], inplace=True)

In [16]:
df.head(30)

                @timestamp                   _id ip_address
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
718730 2019-06-09 03:54:45  x01fOmsBoTGddM7vz6d3   10.1.1.1
718240 2019-06-09 04:35:35  nk-FOmsBoTGddM7vLRjb   10.1.1.1
717685 2019-06-09 05:21:49  N1CvOmsBoTGddM7vhbSz   10.1.1.1
717521 2019-06-09 05:35:29  tlG8OmsBoTGddM7vCDDU   10.1.1.1
717169 2019-06-09 06:04:49  uFLWOmsBoTGddM7v4zfT   10.1.1.1
716960 2019-06-09 06:22:15  j1LmOmsBoTGddM7v2dTC   10.1.1.1
716872 2019-06-09 06:29:35  ayntOmsB7mP0GwVzkEuG   10.1.1.1
715947 2019-06-09 07:46:39  lCw0O2sB7mP0GwVzHw4H   10.1.1.1
715935 2019-06-09 07:47:39  MSw1O2sB7mP0GwVzCRho   10.1.1.1
715573 2019-06-09 08:17:49  sVZQO2sBoTGddM7vp_Sz   10.1.1.1
714463 2019-06-09 09:50:19  QlqlO2sBoTGddM7vVz9j   10.1.1.1
714369 2019-06-09 09:58:09  zFqsO2sBoTGddM7vg4RT   10.1.1.1
714007 2019-06-09 10:28:19  ojHIO2sB7mP0GwVzIdOm   10.1.1.1
712840 2019-06-09 12:05:35  ODUhPGsB7mP0GwVzLkeG   10.1.1.1
712505 2019-06-09 12:33:29  6zY6PGsB7mP0GwVzuUGW   10.1.1.1
711946 2019-06-09 13:20:05  LGFlPGsBoTGddM7vY7px   10.1.1.1
711064 2019-06-09 14:33:35  hWSoPGsBoTGddM7vrlwB   10.1.1.1
710552 2019-06-09 15:16:15  tmXPPGsBoTGddM7vvuIC   10.1.1.1
710532 2019-06-09 15:17:55  TDzRPGsB7mP0GwVzRB6l   10.1.1.1
709345 2019-06-09 16:56:49  kj8rPWsB7mP0GwVz0KZW   10.1.1.1
708268 2019-06-09 18:26:35  b2x9PWsBoTGddM7v_61g   10.1.1.1
708212 2019-06-09 18:31:15  CkOCPWsB7mP0GwVzRQIl   10.1.1.1
707905 2019-06-09 18:56:49  4m2ZPWsBoTGddM7vrbVQ   10.1.1.1
707796 2019-06-09 19:05:55  -0SiPWsB7mP0GwVzAkIj   10.1.1.1
707406 2019-06-09 19:38:25  UW-_PWsBoTGddM7vwy5E   10.1.1.1

In [17]:
df['shift_time'] = df.groupby(['ip_address'])['@timestamp'].shift(1)

In [18]:
df.head(10)

,@timestamp,_id,ip_address,shift_time
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45
718730,2019-06-09 03:54:45,x01fOmsBoTGddM7vz6d3,10.1.1.1,2019-06-09 03:42:39
718240,2019-06-09 04:35:35,nk-FOmsBoTGddM7vLRjb,10.1.1.1,2019-06-09 03:54:45
717685,2019-06-09 05:21:49,N1CvOmsBoTGddM7vhbSz,10.1.1.1,2019-06-09 04:35:35
717521,2019-06-09 05:35:29,tlG8OmsBoTGddM7vCDDU,10.1.1.1,2019-06-09 05:21:49
717169,2019-06-09 06:04:49,uFLWOmsBoTGddM7v4zfT,10.1.1.1,2019-06-09 05:35:29

In [19]:
df['time_diff'] = (df['@timestamp']-df['shift_time']).dt.seconds//60

In [20]:
df.head()

,@timestamp,_id,ip_address,shift_time,time_diff
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0

In [21]:
df['date'] = df['@timestamp'].dt.date

In [22]:
df.head()

,@timestamp,_id,ip_address,shift_time,time_diff,date
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN,2019-06-09
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0,2019-06-09
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0,2019-06-09
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0,2019-06-09
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0,2019-06-09

In [23]:
df['weekday'] = df['@timestamp'].dt.weekday

In [24]:
df.head()

,@timestamp,_id,ip_address,shift_time,time_diff,date,weekday
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN,2019-06-09,6
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0,2019-06-09,6
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0,2019-06-09,6
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0,2019-06-09,6
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0,2019-06-09,6

In [25]:
df['hour'] = df['@timestamp'].dt.hour

In [26]:
df['is_weekend'] = ((df['weekday'] == 5) | (df['weekday'] == 6)).astype(int)

In [27]:
df.head()

,@timestamp,_id,ip_address,shift_time,time_diff,date,weekday,hour,is_weekend
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN,2019-06-09,6,0,1
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0,2019-06-09,6,1,1
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0,2019-06-09,6,3,1
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0,2019-06-09,6,3,1
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0,2019-06-09,6,3,1

In [28]:
df['hour_bucket'] = df['hour']//4
# This integer division by 4, so we can analyse 4-hour buckets instead of every single hour

In [29]:
ip_addr ='ip_address'

In [31]:
#-This line counts the number of events per IP and stores it in a DataFrame.
#[Counting how many times the user in logging into the computer wrt to ip address]

ip_counts = df.groupby(ip_addr)['@timestamp'].count().reset_index() 

ip_counts

     ip_address  @timestamp
0      10.1.1.1        1446
1    10.1.1.100        2860
2    10.1.1.101        1465
3    10.1.1.106        1408
4    10.1.1.109        1459
..          ...         ...
381   10.1.2.86        4307
382   10.1.2.89        2826
383   10.1.2.90        2904
384   10.1.2.95        2868
385   10.1.2.99        1423

[386 rows x 2 columns]

In [32]:
ip_counts = ip_counts.rename(columns={'@timestamp':'total_count'})

In [35]:
daily_counts = df.groupby([ip_addr,'date'])['@timestamp'].count().reset_index()

In [36]:
daily_counts = daily_counts.rename(columns={'@timestamp':'daily_counts'})

In [37]:
daily_counts_avg = daily_counts.groupby(ip_addr).daily_counts.median().reset_index()

In [38]:
daily_counts_avg.head(5)

   ip_address  daily_counts
0    10.1.1.1          40.0
1  10.1.1.100          78.0
2  10.1.1.101          40.0
3  10.1.1.106          35.5
4  10.1.1.109          42.5

In [39]:
weekend_counts = df.groupby([ip_addr, 'is_weekend'])['@timestamp'].count().reset_index()

In [40]:
weekend_counts

     ip_address  is_weekend  @timestamp
0      10.1.1.1           0         975
1      10.1.1.1           1         471
2    10.1.1.100           0        1960
3    10.1.1.100           1         900
4    10.1.1.101           0        1006
..          ...         ...         ...
767   10.1.2.90           1         871
768   10.1.2.95           0        1973
769   10.1.2.95           1         895
770   10.1.2.99           0         978
771   10.1.2.99           1         445

[772 rows x 3 columns]